#stock_info_table{
    width:40%;
}


#sec_2{
    display:flex;
    margin:0px;
    height:900px;
    background-color:rgb(9, 9, 10);
    width:100vw;
    position:absolute;
    top:700px;
    justify-content:center;
    align-items:center;
    text-align:center;
}

#sec_2_container{
    display:flex;
    width:80%;
    
  

}
#info_list{
    background-color:rgb(18, 18, 20);
    width:100%;
    height:fit-content;
    min-width:330px;
    max-width:500px;
   

}


#candle_plot{
width:100%;
min-width:730px;
max-width:700px;

}

#stock_info_table {
    width:100%;

color:rgba(235, 198, 53, 0.733);

}

#stock_info_table {
    display:flex;
    justify-content:space-around;
    border:none;


}
#stock_info_table div{
    
    width:100%;
    
    
    }

#stock_info_table div:hover {
background-color:rgba(46, 43, 43, 0.3);

}


#stock_info_table div:focus {
    background-color:rgba(75, 69, 69, 0.3)
        
    }

#table_fundam {
    width: 100%;
   font-size:10px; 
   height:100%;
   
}

#table_fundam th{
color:bisque;
height:20px;

}


#table_fundam td{
color:rgb(141, 135, 127);
font-size:10px;
padding:0px;


   
}


@media screen and (max-width:1220px){

    #sec_2_container{
        flex-direction:column;
        height:80%;
        width:70%;
    }

    #candle_plot{
        min-width:500px;
    }
    #info_list{
        min-width:500px;
        max-width:700px;
    }
}