#stock_info_table{
    width:40%;
}


#sec_2{
    display:flex;
    margin:0px;
    height:1200px;
    background-color:rgb(9, 9, 10);
    width:100vw;
    position:absolute;
    top:700px;
    justify-content:center;
    align-items:center;
    text-align:center;
}

#sec_2_container{
    display:flex;
    width:90%;
    
  

}
#info_list{
    background-color:rgb(18, 18, 20);
    height:100%;
    width:50%;


   

}


#candle_plot{
min-width:950px;



}

#stock_info_table {
    width:100%;

color:rgba(236, 225, 178, 0.733);

}

#stock_info_table {
    display:flex;
    justify-content:space-around;
    border:none;


}
#stock_info_table div{
    background-color:rgba(65, 58, 34, 0.507);
    width:100%;
    padding:10px;
    font-size:20px;
    }

#stock_info_table div:hover {
    background-color:rgba(209, 179, 89, 0.658);

}


#stock_info_table div:focus {
    background-color:rgba(209, 179, 89, 0.808);
        
    }

#table_fundam {
    width: 100%;
    
   height:100%;
   
}

#table_fundam th{
color:bisque;
height:20px;

}


#table_fundam td{
color:rgb(141, 135, 127);
font-size:14px;
padding:0px;


   
}





@media screen and (max-width:1600px){



    #candle_plot{
     max-width:600px;
     min-width:800px;
    }
    
    #table_fundam td{
        font-size:10px;
    }
    #info_list div {
        width:100%;
        font-size:16px;
    }
}


@media screen and (max-width:1300px){

    #sec_2_container{
        flex-direction:column;
        height:80%;
        width:80%;
    }

    #candle_plot{
    max-width:1200px;
    min-width:300px;

    }

    #info_list{
        width:100%;
        
        height:fit-content;
    }

    #info_list div {
        width:100%;
        font-size:18px;
    }
    #table_fundam td{
        font-size:12px;
    }
}

@media screen and (max-width:900px){
    #info_list div {
        width:100%;
        font-size:12px;
    }

    #table_fundam td{
        font-size:8px;
    }
    #table_fundam th{
        font-size:10px;
    }
}

