

#_scene{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

    height:700px;
    
    
    z-index:5;
    background-color:rgba(0,0,0,0.1);
    margin:0;

}
#black_cont{
    position:absolute;
    height:700px;
    width:100%;
    z-index:5;
    background-color:rgba(0,0,0,0.7)
}
#low_panel{
position:absolute;
top:85%;
background-color:rgba(236, 190, 4, 0.156);
height:2px;
width:80%;
border:none;

    
}

#webgl{

    z-index:1;

    height:700px;
}





.intro_header{
    font-size:25px;
    
}
