#topnav{
    position:absolute;
    display:flex;
    justify-content:center;
    color:antiquewhite;
    list-style:none;
    background-color:rgba(240, 166, 6, 0.212);
    width:100%;
    margin:0px;
    z-index:11;
    top:10vh;
    
}


#topnav li{
    padding:20px;
    font-size:14px;
    font-weight:light;

}




#topnav li:hover{
    transition: all ;
    transition-duration:0.3s;
    background-color:rgba(241, 165, 23, 0.616);
    cursor:default;
}
