#svg_plot{
    background-color:rgba(109, 109, 116, 0.13);
    backdrop-filter:blur(10px);
            border-radius:10px;
            width:100%;
      
}

#axis_x{
   color:#8a898d
}

#axis_y{
    color:#848388
}