#svg_plot{
    background-color:rgba(0,0,200,0);
             width:60vw;
             height:fit-content;
             border-radius:10px;
             max-width: 800px;
             min-width:400px;
}

#axis_x{
   color:#8a898d
}

#axis_y{
    color:#848388
}